@import "~variables.scss";
@import "./inbound";

.content{    
    height: 100%;
    min-height: 15rem;
    @include contentBox;
}

.flexboxes{
    margin-bottom: 4rem;
}

.addTestimonial{
    display: flex;
    height: 100%;
    align-self: center;
    justify-content: center;
    border: 2px dashed $secondaryColor;
    border-radius: 6px;
    .actions{
        align-self: center;
    }
}

.container {
    width: 100%;
}
