@import "~variables.scss";

.content{
  padding: 0 0rem;
  max-width: 60rem;
  p{
    text-align: justify;
  }
}

.error{
  color:  #cc0000;
  padding: 1rem 0;
  text-align: center;
}

.actions{
  display: flex;
  justify-content: center;
}