@import "~variables";
$borderThickness: 4px;
$transitionDuration: .2s;
.tabs{
    display: flex;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    justify-content: space-around;

    &.fixed{
        z-index: 9000;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        background-color: $globalBg;
        padding-top: 1rem;
    }
    .tab{
        margin: 0rem 1rem;
        flex-grow: 1;
        align-self: baseline;
        text-align: center;
        .link{
            text-decoration: none;
            color: $primaryTextColor;
            padding: .7rem 0.25rem;
            transition: border $transitionDuration;
            display: inline-block;
            text-align: center;
            &:visited{

            }
            &:hover, &.active{
                border-bottom: $borderThickness solid $roostOrange;
            }
            &.active{
                color: $roostOrange;
            }
        }

    }
}


@media (max-width: $screen-sm-min) {
    .tabs{
        flex-direction: column;
        align-self: baseline;
        .tab{
            margin: .5rem 0rem;
            .link{
                text-decoration: none;
                color: $primaryTextColor;
                padding: .25rem 0.5rem;
                margin-left: 0px;
                // transition: left $transitionDuration;
                &:visited{

                }
                &:hover, &.active{
                    border-left: $borderThickness solid $roostOrange;
                    border-bottom: 0px;
                    position: relative;
                    left: -1 * $borderThickness;
                }

                &.active{
                    color: $roostOrange;
                }
            }
        }
    }
}
