@import "~variables.scss";
@import "inbound";

.content{
    padding: 0 0rem;
    max-width: 60rem;
    p{
        text-align: justify;
    }
}

.instructions{
    margin-bottom: 5rem;
    @include contentBox;
}
