# this file is to be located in your project/.ebextensions folder

#TO UPDATE NODE VERSION & ARCH
# replace  0.10.24 -> 0.11.0 (for example) and x86 -> x64 in
#  — all *env.config
#  — env.vars
#  — in AWS EB console for each env (env configuration settings) (may be unneccessary)

#TO UPDATE NPM
# uncomment "rm npm updated" in 40install_node.sh

#TO CHANGE NGINX VERSION
# update version number in env.vars

packages:
  yum:
    ImageMagick: []
    git: []
    mc: []
    gcc: []
    make: []
    openssl-devel: []
    tmux: []
    gcc-c++: []
    freetype-devel: []
    fontconfig-devel: []
    ruby: []
    rubygems: []
    pcre: []
    pcre-devel: []
    gperftools: []
    gperftools-devel: []
  rubygems:
    rubygems-update: []

option_settings:
  - option_name: NODE_ENV
    value: production
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: 6.11.1
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: GzipCompression
    value: true

files:
  "/opt/elasticbeanstalk/env.vars" :
    mode: "000775"
    owner: root
    group: users
    content: |
        export HOME=/root
        export NPM_CONFIG_LOGLEVEL=warn
        export NPM_CONFIG_COLOR=false
        export NPM_CONFIG_PRODUCTION=true
        #note node vesion in .elasticbeanstalk/*.jsons
        export NODE_VER=6.9.1
        case $( arch ) in
        ( i686 ) export ARCH=x86;;
        ( x86_64 ) export ARCH=x64;;
        esac
        export NGINX_VER=1.5.12
        export PATH="$PATH:/opt/elasticbeanstalk/node-install/node-v$NODE_VER-linux-$ARCH/bin/:/root/.npm:/opt/elasticbeanstalk/lib/ruby/bin/"

  "/opt/elasticbeanstalk/hooks/configdeploy/pre/50npm.sh" :
    mode: "000666"
    owner: root
    group: users
    content: |
       #no need to run npm install during configdeploy

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh" :
    mode: "000775"
    owner: root
    group: users
    content: |
        #!/bin/bash
        echo "running 50npm.sh"
        . /opt/elasticbeanstalk/env.vars
        function error_exit
        {
            echo "exiting with error"
            eventHelper.py --msg "$1" --severity ERROR
            exit $2
        }

        #redirect all output to cfn-init to capture it by log.io
        exec >>/var/log/cfn-init.log  2>&1
        echo "------------------------------ — Setting up NPM directory! — ---------------------------------------"

        #avoid long NPM fetch hangups
        npm config set fetch-retry-maxtimeout 15000

        #install not-installed yet app node_modules
        echo "linking NPM modules to /var/node_modules"
        if [ ! -d "/var/node_modules" ]; then
        mkdir /var/node_modules ;
        fi
        if [ -d /tmp/deployment/application ]; then
        ln -s /var/node_modules /tmp/deployment/application/
        fi

        if [ ! -L /usr/bin/yarn ]; then
            # install yarn
            echo "installing yarn"
            sudo wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo
            curl --silent --location https://rpm.nodesource.com/setup_6.x | bash -
            sudo yum -y install yarn
        else
            echo "yarn already found, not installing"
        fi

        echo yarn version = `yarn --version`
        echo "------------------------------ — Installing/updating NPM modules with YARN (And making sure node-sass is installed with NPM) — -----------------------------------"
        cd /tmp/deployment/application
        OUT=$([ -d "/tmp/deployment/application" ] && cd /tmp/deployment/application && /usr/bin/yarn) || error_exit "Failed to run yarn install.  $OUT" $?
        echo $OUT
        chmod -R o+r /var/node_modules

  "/opt/elasticbeanstalk/hooks/configdeploy/pre/40install_node.sh" :
    mode: "000775"
    owner: root
    group: users
    source: https://raw.github.com/neilpoulin/better-faster-elastic-beanstalk/master/40install_node.sh

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/40install_node.sh" :
    mode: "000775"
    owner: root
    group: users
    source: https://raw.github.com/neilpoulin/better-faster-elastic-beanstalk/master/40install_node.sh

  "/root/z.sh" :
    mode: "000755"
    owner: root
    group: root
    source: https://raw.github.com/neilpoulin/better-faster-elastic-beanstalk/master/z.sh

  "/home/ec2-user/z.sh" :
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    source: https://raw.github.com/neilpoulin/better-faster-elastic-beanstalk/master/z.sh

commands:
  01-replace-default-nginx-config:
    command: "cp -f /home/ec2-user/nginx/websockets.conf /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf"
  02_patch_ebnode_py:
    command: "sed -e '/rebuild/ s/^#*/#/' -i /opt/elasticbeanstalk/containerfiles/ebnode.py"
    ignoreErrors: true
  03_inject_z_sh:
    command: "grep  'z.sh' /root/.bashrc || echo '. ~/z.sh' >> /root/.bashrc;grep  'z.sh' /home/ec2-user/.bashrc || echo '. ~/z.sh' >> /home/ec2-user/.bashrc"
    ignoreErrors: true
