# this file is to be located in your project/.ebextensions folder

#TO UPDATE NODE VERSION & ARCH
# replace  0.10.24 -> 0.11.0 (for example) and x86 -> x64 in
#  — all *env.config
#  — env.vars
#  — in AWS EB console for each env (env configuration settings) (may be unneccessary)

#TO UPDATE NPM
# uncomment "rm npm updated" in 40install_node.sh

#TO CHANGE NGINX VERSION
# update version number in env.vars

packages:
  yum:
    ImageMagick: []
    git: []
    mc: []
    gcc: []
    make: []
    openssl-devel: []
    tmux: []
    gcc-c++: []
    freetype-devel: []
    fontconfig-devel: []
    ruby: []
    rubygems: []
    pcre: []
    pcre-devel: []
    gperftools: []
    gperftools-devel: []
  rubygems:
    rubygems-update: []

option_settings:
  - option_name: NODE_ENV
    value: production
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: 6.9.1
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: GzipCompression
    value: true

files:
  "/opt/elasticbeanstalk/env.vars" :
    mode: "000775"
    owner: root
    group: users
    content: |
        export HOME=/root
        export NPM_CONFIG_LOGLEVEL=warn
        export NPM_CONFIG_COLOR=false
        export NPM_CONFIG_PRODUCTION=true
        #note node vesion in .elasticbeanstalk/*.jsons
        export NODE_VER=6.9.1
        case $( arch ) in
        ( i686 ) export ARCH=x86;;
        ( x86_64 ) export ARCH=x64;;
        esac
        export NGINX_VER=1.5.12
        export PATH="$PATH:/opt/elasticbeanstalk/node-install/node-v$NODE_VER-linux-$ARCH/bin/:/root/.npm:/opt/elasticbeanstalk/lib/ruby/bin/"

  "/opt/elasticbeanstalk/hooks/configdeploy/pre/50npm.sh" :
    mode: "000666"
    owner: root
    group: users
    content: |
       #no need to run npm install during configdeploy

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh" :
    mode: "000775"
    owner: root
    group: users
    source: https://raw.github.com/neilpoulin/better-faster-elastic-beanstalk/master/50npm.sh

  "/opt/elasticbeanstalk/hooks/configdeploy/pre/40install_node.sh" :
    mode: "000775"
    owner: root
    group: users
    source: https://raw.github.com/neilpoulin/better-faster-elastic-beanstalk/master/40install_node.sh

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/40install_node.sh" :
    mode: "000775"
    owner: root
    group: users
    source: https://raw.github.com/neilpoulin/better-faster-elastic-beanstalk/master/40install_node.sh

  "/root/z.sh" :
    mode: "000755"
    owner: root
    group: root
    source: https://raw.github.com/neilpoulin/better-faster-elastic-beanstalk/master/z.sh

  "/home/ec2-user/z.sh" :
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    source: https://raw.github.com/neilpoulin/better-faster-elastic-beanstalk/master/z.sh

commands:
  02_patch_ebnode_py:
    command: "sed -e '/rebuild/ s/^#*/#/' -i /opt/elasticbeanstalk/containerfiles/ebnode.py"
    ignoreErrors: true
  03_inject_z_sh:
    command: "grep  'z.sh' /root/.bashrc || echo '. ~/z.sh' >> /root/.bashrc;grep  'z.sh' /home/ec2-user/.bashrc || echo '. ~/z.sh' >> /home/ec2-user/.bashrc"
    ignoreErrors: true
