option_settings:
  aws:elb:listener:443:
    ListenerProtocol: SSL
    SSLCertificateId: arn:aws:acm:us-east-1:062773471215:certificate/91f58ce6-a2cf-476c-9f4e-57caac375be9
    InstancePort: 81
    InstanceProtocol: TCP
  aws:elb:listener:80:
    ListenerProtocol: TCP
    InstancePort: 80
    InstanceProtocol: TCP
  aws:elb:healthcheck:
    HealthyThreshold: 3
    Interval: 10
    Timeout: 5
    UnhealthyThreshold: 5
    Target: TCP:81
  aws:elb:loadbalancer:
    SecurityGroups: sg-eb15c596
