@import "./content_variables";
@import "./fonts.scss";

.form-group{
    display: flex;
    flex-direction: column;
    input.form-control{
        padding: 0 12px;
        width: auto;
    }
}

.bold{
    font-weight: bold;
}

#image_preload{
    //display: none;
    //position: fixed;
    top: -99999px;
    left: -9999px;
}
