@import "./content_variables";
@import "./../../../../lib/styles/global";
@import "./fonts.scss";

.form-group{
    display: flex;
    flex-direction: column;
    input.form-control{
        padding: 0 12;
        width: auto;
    }
}

#popup_app{
    width: 300px;
    min-height: 10rem;
}

#image_preload{
    display: none;
    position: fixed;
    top: -99999px;
    left: -9999px;
}
