@import "~variables";

.container{
  padding: 1rem 2rem;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.main{
  display: flex;
  flex-direction:row;
  padding-top: 2rem;
  justify-content: space-between;
}

.planCard{
  @include contentBox;
}


.personalInfo{
  margin-bottom: 2rem;
}

.billingInfo{

}

.vendor{
  text-align: center;
  margin-top: 2rem;

}

.vendorId{
  padding: 1rem;
  border: 2px dotted $secondaryColor;
  text-align: center;
  border-radius: 6px;
  font-family: monospace;
  font-size: 1.5rem;
  background-color: white;
}

.planContainer{
  width: 300px;
  .title{
    text-align: center;
    color: $roostOrange;
  }
}

.payment{
  flex-grow:1;
  max-width: 500px;
  margin-right: 2rem;
}

@media (max-width: $screen-sm-min) {
  .container{
    padding: 1rem 0;
    margin-left: 0;
    margin-right: 0;
  }


  .main{
    flex-direction: column;
    align-items: stretch;
    section{
      margin-bottom: 4rem;
    }
  }

  .payment {
    padding: 0;
    margin-right: 0;
  }


  .planContainer{
    width: 100%;
  }
}