.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.success{
    p{
        margin-bottom: 2rem;
    }
}

.logo{
    margin-bottom: 2rem;
}
