@import "~variables.scss";

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.success{
    p{
        margin-bottom: 2rem;
    }
}

.logo{
    margin-bottom: 2rem;
}

.action{    
    justify-content: center;
    .title{
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }
    section{
        padding: 2rem 4rem;

    }
}

.description{
    font-family: "Gotham Book";
    color: $mutedColor;
}

.title{
    font-family: "Gotham Bold";
    color: $headerColor;
}
