@import "~variables.scss";
.userInfo{
    display: flex;
    justify-content: space-around;
}

.teamInfo{
    text-align: center;
}

.teamConnect{
    display: flex;
    align-items: center;
    font-size: 2rem;
    justify-content: center;
    margin-bottom: 1rem;
    .plus{
        margin: 0 1rem;
    }
}

.channels{
    margin: 2rem 0;

    .channel {
        margin-bottom: .5rem;
        &.selected{
            font-weight: bold;
        }
        input{
            margin-left: 2rem;
        }
    }
}

.action{
    margin-bottom: 2rem;
}
.heading{
    display: flex;
    align-items: center;
}
.slackLogo{
    height: 3rem;
}

a {
    text-decoration: none;
    color: $roostOrange;
    &:hover{
        color: darken($roostOrange, 10)
    }
}

.subscriptionRequired{
    font-weight: 400;
    color: $mutedColor;
    text-align: center;
}