<!doctype html>
<html>
  <head>
    <title>OneRoost</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta name="description" content="Get Vendor Emails Out of Your Inbox to Ensure a Proper Pitch">
    <meta name="keywords" content="Vendor Management, Cold Emails, transparent, sales process,RFP, RFI, CRM">
    <meta name="slack-app-id" content="A6P572266">

    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/static/images/apple/oneroost_logo_square_57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/apple/oneroost_logo_square_72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/apple/oneroost_logo_square_114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/apple/oneroost_logo_square_144.png" />

    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/cialcfjhijnjbfdidombgklaijmhhpmo">
    <link rel="stylesheet" href="/static/styles.css" type="text/css" />


    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/te0db1m0';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

  </head>
  <body>
    <div id='root'></div>
    <script src="/static/bundle.js"></script>
  </body>
</html>
