<!doctype html>
<html>
  <head>
    <title>OneRoost Slack App</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta name="description" content="Get Vendor Emails Out of Your Inbox to Ensure a Proper Pitch">
    <meta name="keywords" content="Vendor Management, Cold Emails, transparent, sales process,RFP, RFI, CRM">

    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/static/images/apple/oneroost_logo_square_57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/apple/oneroost_logo_square_72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/apple/oneroost_logo_square_114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/apple/oneroost_logo_square_144.png" />

    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/cialcfjhijnjbfdidombgklaijmhhpmo">
    <link rel="stylesheet" href="/static/styles.css" type="text/css" />
  </head>
  <body>
    <div id='root'></div>
    <script src="/static/bundle.js"></script>
  </body>
</html>
