@import "~variables";

h2 {
  font-size: 2rem;
  @include font-bold;
  text-align: center;
}

.container{
  padding: 1rem 0;
}

.itemsContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  padding: 2rem;
  .gridItem{
    width: 33.333%;
    box-sizing: border-box;
  }
}


@media (max-width: $screen-md-min) {
  .itemsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    padding: 2rem;
    .gridItem{
      width: 50%;
      box-sizing: border-box;
    }
  }
}

@media (max-width: $screen-sm-min) {
  .itemsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    padding: 2rem;
    .gridItem{
      width: 100%;
      box-sizing: border-box;
    }
  }

}