@import "~variables";

.container{
  &.inline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .emailInputContainer{
      flex-grow: 1;

    }

    .actionContainer{

    }
  }


}


@media (max-width: $screen-sm-min) {
  .actionContainer{
    //font-size: .8rem;
  }
}