@import "~variables";

.main {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "Gotham Book";
  position: relative;
  padding: 4rem 0 0 0;
  background-color: white;

}

h2 {
  font-size: 2rem;
  @include font-bold;
}


.signup{
  padding: 3rem 0;
  text-align: center;

  .waitlistForm{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  h2{
    margin-bottom: 2rem;
  }
}

.editorialImages{
  margin-bottom: 6rem;
}

.testimonials {
  background-color: $roostOrange;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  .testimonial {
    padding: 1rem 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    &:nth-child(2n){
      flex-direction: row-reverse;
      .text{
        text-align: right;
      }
    }

    .text{
      padding: 1rem;
      margin: 0 1rem;
      .user, .company {
        font-size: .9rem;
        margin-bottom: .5rem;
      }
      .user{
        margin-top: 1rem;
      }
      .company {
        @include font-bold;
        margin-top: 0;
      }
      .quote {
        quotes: "\201C" "\201D";
        font-size: 1.2rem;
        margin-bottom: 2rem;
        display: inline;
        position: relative;
        text-align: justify;
        $quoteSize: 3rem;
        $quoteMargin: .4rem;
        $quoteTop: -.6rem;
        $quoteLeft: -1.8rem;
        &:before{
          content: open-quote;
          font-size: $quoteSize;
          position: absolute;
          top: $quoteTop;
          //left: $quoteLeft;
          left: -2rem;

        }
        &:after{
          content: close-quote;
          margin-left: $quoteMargin;
          font-size: $quoteSize;
          position: absolute;
          //top: $quoteTop;
          bottom: -1.6rem;
        }
      }
    }

    .avatar{
      width: 8rem;
      height: 8rem;
      border-radius: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      margin: 0 2rem;
      flex-shrink: 0;
      img{
        width: 100%;
      }
    }

  }

}

footer {
  padding: 2rem;
  background-color: $mutedColor;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .link {
    margin-right: 4rem;
    &:last-child {
      margin-right: 0;
    }
  ;
  }
}

@media (max-width: $screen-md-min) {

}

@media (max-width: $screen-sm-min) {
  .main {
    padding: 0;
    padding-top: 1rem;
  }

  footer {
    flex-direction: column;

    .link {
      margin-right: 2rem;
    }
  }

  .testimonials {
    flex-direction: column;
    .testimonial {
      flex-direction:column;
      padding: 1rem;

      &:nth-child(2n){
        flex-direction: column;
        .text{
          text-align: left;
        }
      }
    }
  }
}