$googleButtonImagePath: "/images/google_signin_buttons/web/1x/";
$googleButtonImageStyle: "btn_google_signin_dark_";

.googleLogin {
    display: inline-block;
    background: url("#{$googleButtonImagePath}#{$googleButtonImageStyle}normal_web.png");
    width: 191px;
    height: 46px;

    &:hover {
        cursor: pointer;
        background: url("#{$googleButtonImagePath}#{$googleButtonImageStyle}focus_web.png");
    }
    &:active{
        cursor: pointer;
        background: url("#{$googleButtonImagePath}#{$googleButtonImageStyle}pressed_web.png");
    }
}

.loginContainer{
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.brandPages{
    padding: 1rem 0;
    li{
        padding: .2rem 0;
    }
}
