$gmailHoverColor: #dddddd;
$padding: 10px;

.username{
    padding: 0 $padding;
    &.blocked{
        color: red;
    }
    &.unblocked{
        color: green;
    }
}

.title{
    font-weight: bold;
}

ul.vanityUrls{
    list-style: none;
    margin: 0px;
    padding: 0px;
    li.vanityUrl{
        padding: $padding;
        text-decoration: none;
        margin: 0px;
        &:hover{
            cursor: pointer;
            background-color: $gmailHoverColor;
        }
        &:not(:first-child){
            // border-top: 1px solid darkgray;
        }
    }
}
