@import "~content_variables.scss";

$gmailHoverColor: #dddddd;
$padding: 10px;

.container{
    display: flex;
}

.blocked{
    color: red;
}
.unblocked{
    color: green;
}

.username{
    padding: 0 $padding;
}

.title{
    font-weight: bold;
}

ul.vanityUrls{
    list-style: none;
    margin: 0px;
    padding: 0;
    li.vanityUrl{
        text-decoration: none;
        margin: 0;
        padding: $padding;

        &.no-action{
            font-style: italic;
        }

        &:not(.no-action):hover{
            cursor: pointer;
            background-color: $gmailHoverColor;
        }
        &:not(:first-child){
            // border-top: 1px solid darkgray;
        }
    }
}

.userInfo{
    padding: $padding;
    text-align: center;
    .title{
        font-weght: 1.2rem;
    }
    .status{

    }
    border-bottom: 2px solid $borderColor;
}